* {
  box-sizing: border-box;
}  

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  /*background: url(shapes.png); /*linear-gradient(#fff4f4,#fff4f4,#fff4f4,#ffd4d4)*/
  background-color: #fff9ef;
  font-family:'Nunito', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: cover;
}
h1 {
  color: #ffffff;
}
a {
  color:rgb(255, 196, 0);
}
h3 {
  color: #ec663d;
}
.center {
  text-align: center;
}
.body-text {
  color: rgb(100, 119, 204);
}
.box-head {
  width: 100%;
  background-color: /*#ff9898*/;
  opacity: 100%;
  margin-bottom: 50px;
  height: 150px;
  background-color: Transparent;
}
.box {
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
  /*background-image: linear-gradient(#ffdd1f, #ffdd1f);*/
  /*background-color: #38A3a5;*/
  background-color: #fff3e6;
  border-radius:25px;
  opacity: 100%;
  margin-bottom: 80px;
}
.box a {
  font-weight:bold;
}
.box ol p {
  font-style: italic;
  font-size: small;
}
#me {
  width: 30%;
  float: right;
  padding: 2%;
  border-radius:20px;
}
#logo{ 
  position:absolute;
  top:20px;
  left:20px;
  height: 100px;
}