h1 {
  color: white;
}
body {
  background-color: #c7F9CC;
}
p {
  color: #22577A;
}
h3 {
  color: #38A3a5;
}
.about-me {
  color: #22577A;
}

.box1 {
  align-items: center;
  width: 40%;
  margin: auto;
  box-sizing: border-box;
}
